body{
  max-width: 90%;
  margin: auto;
}
.header{
  font-size: 30px;
  background-image: url("../img/ameland.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  margin-bottom: -2px;
}
.spacer {
  height: 10px;
}
.data_box {
  background: gray;
}
